{% extends 'generator/layout.html' %}

{% block content%}

<div class="col-md-4 offset-md-4">
    <form action={% url 'password' %} class="card card-body">

        <h1>Generador de Contraseña</h1>
        <label for = "length">Selecciona la longitud de tu contraseña:</label>
        <select name="length" id="length" class="form-control">
            <option value="6">6 Caracteres</option>
            <option value="7">7 Caracteres</option>
            <option value="8">8 Caracteres</option>
            <option value="9">9 Caracteres</option>
            <option value="10">10 Caracteres</option>
            <option value="11">11 Caracteres</option>
            <option value="12">12 Caracteres</option>
            <option value="13">13 Caracteres</option>
            <option value="14">14 Caracteres</option>
        </select>
        
        <label for="uppercase">Uppercase</label>
        <input type="checkbox" name="uppercase" id="uppercase">
    
        <label for="special">Especiales</label>
        <input type="checkbox" name="especial" id="especial">
    
        <label for="numbers">Números</label>
        <input type="checkbox" name="numeros" id="numeros">
    
        <button>Generar contraseña</button>
    
    
    </form>
</div>

{% endblock %}